/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/

/* GENERAL */

body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
	background: #FFFEF8;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}

section {
	margin: 50px 0;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

/* HEADER */

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
	font-weight: 600;
}

li:hover,
.login:hover,
li a:hover {
	color: #B1663C;
	cursor: pointer;
}

.nav-connexion,
nav li a {
	text-decoration: none;
	color: black;
	font-weight: 600;
}

.header_edit {
	background-color: black;
	height: 60px;
	display: none;
	justify-content: center;
}

.edition {
	display: flex;
	color: white;
	align-items: center;
	gap: 10px;
}

.edition img {
	width: 15px;
	height: 15px;
}

.edition p {
	font-size: 16px;
}

/* INTRO */

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1;
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

/* CATEGORIES */

.filter-categories {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin: 50px 0;
}

.button {
	display: flex;
	align-items: center;
	border: 1px #1d6154 solid;
	border-radius: 60px;
	color: #1d6154;
	background: white;
	height: 28px;
	font-family: "Syne", sans-serif;
	font-weight: 700;
	font-size: 16px;
	text-align: center;
	padding: 3px 20px;
	cursor: pointer;
}

.selected {
	background: #1D6154;
	color: white;
}

/* PORTFOLIO */

#portfolio h2 {
	text-align: center;
	margin-right: 15px;
	margin-top: 50px;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

.container-modify {
	display: flex;
	justify-content: center;
	align-items: center;
}

.modify-content {
	display: none;
	margin-top: 50px;
	gap: 10px;
	cursor: pointer;
	text-decoration: none;
	color: black;
}

.modify-content p {
	margin-top: 3px;
}

/* MODALE */

.modale {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	transition: visibility 0.4s;
}

.modale-wrapper {
	display: flex;
	flex-direction: column;
	overflow: auto;
	max-width: calc(98vh - 20px);
	max-height: calc(98vh - 20px);
	width: 630px;
	padding: 30px;
	border-radius: 10px;
	background-color: white;
	position: relative;
}

.modale-title {
	margin: 30px 0 45px;
	font-family: "Work Sans";
	font-size: 26px;
	font-weight: 400;
	color: #000;
	text-align: center;
}

.modale-bordure {
	width: 420px;
	border: 1px solid #B3B3B3;
	margin-top: 25px;
	margin-bottom: 30px;
}

.button_add_gallery {
	display: flex;
	align-items: center;
	margin: auto;
	border: 1px #1d6154 solid;
	background: #1d6154;
	color: #fff;
	border-radius: 60px;
	height: 36px;
	font-family: "Syne", sans-serif;
	font-weight: 700;
	font-size: 14px;
	text-align: center;
	padding: 10px 50px;
	cursor: pointer;
}

.modale-croix {
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
}

/* CONTACT ET LOGIN FORM */

#contact,
#login {
	width: 50%;
	margin: auto;
}

#contact>*,
#login>* {
	text-align: center;

}

#contact h2,
#login h2 {
	margin-bottom: 20px;
}

#contact form,
#login form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input,
#login input {
	height: 50px;
	padding-left: 15px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label,
#login label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

#login a {
	color: #3D3D3D;
	text-align: center;
}

.error {
	margin: 15px 0;
	color: red;
	font-style: italic;
}

/* FOOTER */

.footer-login {
	position: fixed;
	bottom: 0;
	width: 85%;
	background: white;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}